#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 3% 15%;
}

h2 {
  font-family: Montserrat bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: Montserrat bold;
  padding: 3% 7%;
}

p {
  color: #8f8f8f;
}

.titledog {
  font-family: "Montserrat-white";
  margin-top: 60px;
  font-size: 3.5rem;
  line-height: 1.5;
}

.iphone6 {
  transform: rotate(25deg);
}

/*navigation bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/*download-button*/
.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
  margin-top: 10px;
}

.feature-box {
  text-align: center;
  padding: 5%
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/*testimonial  section*/
#testimonials {
  color: #fff;
  text-align: center;
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 20%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 1%;
}

@media (max-width:1028px) {
  .iphone6 {
    position: static;
    transform: rotate(0);
    text-align: center;
  }
}

#cta {
  background-color: #ff4c68;
  margin-top: 50px;
  text-align: center;
  padding:7% 15%;
  color:#fff;
}

.h3class {
  font-family: Montserrat black;
  color: white;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 10px;
}

#footer{
  text-align: center;
  background-color: #fff;
  margin:20px ;
  padding-top: 2%;
  padding-bottom: 1%;
}
.socialicon{
  margin:10px;
}
#founder{
  text-align: center;
  padding:1% 15%;
  background-color: #ff4c68;
}
.button{
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Georgia;
  color: #fff;
  font-size: 39px;
  background: #ff4c68;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  text-align: center;
}

a.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
