body{
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfoRi55AR0zyoQpPFS2LMuU8lFGMcK43LasA&usqp=CAU');
  font-family: Montserrat bold;
  color: #fff;
  font-size: 50px;
}



.form{

}
